<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fooder</title>
    <link rel="stylesheet" href="/css/user_auth.css">
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="auth-body">
    <div class="userContainer">
        <div class="form-box">
            <h1 id="title">Login</h1>
            <div class="underline"></div>

            <% if(error && error.length> 0) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>
                    <% if(success && success.length> 0) { %>
                        <div class="alert alert-success">
                            <%= success %>
                        </div>
                        <% } %>

                            <form action="/login" method="POST">
                                <div class="input-group-auth">
                                    <div class="input-field hide-field" id="nameInput">
                                        <i class="fa-solid fa-user"></i>
                                        <input type="text" name="firstName" placeholder="First Name">
                                    </div>

                                    <div class="input-field">
                                        <i class="fa-solid fa-phone"></i>
                                        <input type="text" name="mobileNo" placeholder="Mobile Number" required
                                            pattern="[0-9]{10}">
                                    </div>

                                    <div class="input-field">
                                        <i class="fa-solid fa-key"></i>
                                        <input type="password" name="password" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="btn-field">
                                    <a href="/signup" id="signUpBtn" class="disable">Sign Up</a>
                                    <button type="submit" id="signInBtn">Sign In</button>
                                </div>
                            </form>
        </div>
    </div>
</body>

</html>